            body{
                font-family: 'Trebuchet MS', sans-serif, Times, 'Times New Roman', serif;
                color: white;
            }
            header, main, footer{
                border: 2.5px solid #230007ff;
            }
            a {
                color: #230007ff;
            }
            nav {
                text-align: center;
                color: #230007ff;
            }
            a:visited {
                color: #54494bff;
            }
            main p {
                color: #230007ff;
                font-size: 16px;
                max-width: 1200px;
                width: 90%;
                margin: 0 auto;
                text-align: center;
                font-weight: bold;
            }
            li {
                color: #230007ff;
                font-weight: bold;
            }
            .list {
                margin: auto 25px 50px 50px 25px;
                text-align: left;
            }
            figcaption {
                color: #54494bff;
                font-size: 16px;
                font-style: italic;
            }
            hr {
                color: #ffffffff;
                border-color: #ffffffff;
                width: 100%;
                margin: 5px;
            }
            .logo {
                width: 180px;
                border-radius: 45px;
                border: 3px solid #230007ff;
            }
            .list-title {
                padding: 40px 0 0 20px;
                text-align: left;
            }
            address{
                padding: 0 2.5px 2.5px 2.5px;
                margin: 10px;
                background-color: #ffffffff;
                border-radius: 10px;
                border: 2.5px solid #230007ff;
            }
            header{
                background-color: #3a506bff;
                color: #ffffffff;
                text-align: center;
                font-size: 24px;
                border-top-left-radius: 25px;
                border-top-right-radius: 25px;
            }
            main{
                background-color: #ffffffff;
                color: #230007ff;
                text-align: center;
                font-size: 24px;
            }
            footer{
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;;
            }
            ul{
                text-align: left;
                font-size: 18px;
            }
            li{
                font-size: 16px;
            }
            section{
                position: relative;
                left: 50%;
                transform: translateX(-50%);
                max-width: 1000px;
                border: 2px solid #230007ff;
                border-radius: 25px;
            }
            /* MOBILE RULES */
            /* Remove Initial */
            html, body {
                all:initial;
            }
            /* Foundational Three */
            main, .maincontainer {
                width: 95%;
                margin: 0 auto;
                max-width: 1200px;
            }
            /* Rule Overrides For Laptops / Small Screens */
            @media screen and ( min-width: 981px ) and ( max-width: 1400px ) {
                #colorbox {
                    background-color:yellow;
                }
            }
            /* Rule Overrides For Tablet Devices */
            @media screen and ( min-width: 601px ) and ( max-width: 980px )  {
                #colorbox {
                    background-color:orange;
                }
            }
            /* Rule Overrides For Mobile Devices */
            @media screen and ( min-width: 370px ) and ( max-width: 600px ) {
                #colorbox {
                    background-color:red;
                }
            }    