            /* CSS HEX */
            /*
            --dark-slate-gray: #36453bff;
            --chamoisee: #8c805eff;
            --ecru: #e1bb80ff;
            --jasper: #c26951ff;
            --madder: #a31621ff;
            */
            button {
                display: block;
                margin: 10px auto;
                background-color:#a31621ff;
                color:#e1bb80ff;
                font-size: 18px;
                font-weight: bold;
                border-radius: 5px;
                padding: 5px;
                border: none;
            }
            button:hover{
                background-color:#c26951ff;
            }
            body{
                font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
                background-color: #36453bff;
            }
            main{
                max-width: 2000px;
                width: 90%;
                margin: 0 auto;
                background-color:#8c805eff;
                padding-bottom: 5px;
                padding-top: 2px;
            }
            section{
                background-color: #ffffff88;
                margin: 10px 100px 10px 100px;
                padding: 10px;
                max-width: 1400px;
                padding: 40px;
                border-radius: 25px;
            }
            header{
                background-color: #8c805eff;
                padding-top: 10px;
                max-width: 2000px;
                width: 90%;
                margin: 0 auto;
            } 
            footer{
                background-color: #8c805eff;
                padding-bottom: 2.5px;
                max-width: 2000px;
                width: 90%;
                margin: 0 auto;

            } 
            a {
                color: #a31621ff;
                text-decoration: none;
            }
            a:hover {
                color: #36453bff;
            }
            nav {
                text-align: center;
                color: #a31621ff;
            }
            h1 {
                color: #a31621ff;
                text-align: center;
                font-size: 48px;
            }
            h2 {
                color: #a31621ff;
                font-size: 36px;
                text-align: center;
            }
            p {
                color: #a31621ff;
                font-size: 16px;
                max-width: 600px;
                width: 80%;
                text-align: left;
                margin: 5% 20%;
            }
            ul{
                color: #a31621ff;
            }
            li{
                margin-left: 5%;
                padding-bottom: 5px;
            }
            figcaption {
                color: #a31621ff;
                font-size: 16px;
                font-style: italic;
            }
            hr {
                color: #36453bff;
                border-color: #36453bff;
                max-width: 2000px;
                width: 90%;
                margin: 0 auto;
            }
            img {
                width: 500px;
                display: block;
                margin: 5px auto;
                border-radius: 25px;
            }
            .img-paragraph {
                margin-top: 0;
                text-align: right;
            }
            input {
                display: block;
                margin: 0 auto;
            }